.resident{
display: inline-block;
width: 100%;
max-width: 350px;
background-color: rgb(10, 26, 15);
color: rgb(254, 253, 250);
border-radius: 0.7em;
overflow: hidden;
margin-top: 15px;
margin-right: 40px;
margin-left: 0px;
text-align: center;
}

.resident:hover{
cursor: pointer;
background-color: rgb(17, 64, 17);
transition: 1s all ease;
translate: 20px;
transform:perspective(800px)
}

.title {
color: blue;
background-color: rgb(32, 138, 90);
padding-left: 2px;
}



.resident__header {
position: relative;
align-items: center;
}

.resident__status{
  position: absolute;
  top: 2.5em;  
  background-color: rgb(2, 32, 2);
  width: 35%;
  padding: 0.3em 0.7em;
  border-radius: 0 0.5em 0.5em 0;
}
.resident__status__circle{
  display: block;
  width: 0.7em;
  aspect-ratio: 1;
  background-color: rgb(137, 104, 104);
  border-radius: 50%;
}

.Alive {
background-color: green;
}

.Dead {
background-color: red;
}



.resident__body{
padding: 1.5em 1em 2.5em;
}

.resident__name{
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: blueviolet;
}

.resident__separator{
    margin-bottom: 0-5em;
    border-color: rgb(51, 47, 47);
}

.resident__list {
  display: grid;
  gap: 0.7em;
}

.resident__item {
    display: flex;
    flex-direction: column;
}

.resident__label {
font-size: 0.8em;
padding-left: 1em;
color: aliceblue;
}
.resident__value{
    font-weight: 1em;

}